#dapp-modal{
  color: black;
  z-index: 9999
}

a:hover{
  text-decoration: none !important;
}

ul{
  list-style: none;
}

.modal-backdrop.show{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}

.dapp-core-component__transactionDetails-styles__container .dapp-core-component__transactionDetails-styles__icon{
  height: 18px;
}

/* .toast{
  background-color: #e9ecef;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  padding: 10px 20px;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  color: red;
}

.transactions-toast-class {
  background-color: #2A2A2A!important;
  border-radius: 20px!important;
  padding: 10px!important;
} */

.sign-transactions-class {
  backdrop-filter: blur(2px);
}

.dapp-modal-dialog-content {
  background-color: #1C1C1C!important;
  border-radius: 15px!important;
  border: none!important;
}

.dapp-modal-dialog-content-body {
  background-color: #1C1C1C!important;
  color: white!important;
  border-radius: 15px!important;
  border: none!important;
}

.dapp-modal-dialog-close-button {
  color: black!important;
  background-color: #A04C4C!important;
  border-radius: 15px!important;
  border: none!important;
}

.dapp-transaction-toast {
  color: white!important;
  background-color: #2A2A2A!important;
  padding: 10px!important;
  margin-right: 30px!important;
  margin-right: 30px!important;
}

.dapp-custom-toast {
  color: white!important;
  background-color: #2A2A2A!important;
  padding: 10px!important;
  margin-right: 30px!important;
  margin-right: 30px!important;
}